* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  height: 80px;
  top: 0;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  z-index: 10;
}

.logo {
  width: 100px;
}

.location__text {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
}

.other {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  color: black;
}

.other:hover {
  color: orangered;
}

.location {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: #4a4a4a;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.fa-angle-down {
  color: orange;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.nav__items ul {
  display: flex;
  list-style: none;
}

.nav__items ul li {
  font-size: 16px;
  margin: 0 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.nav__items ul li i {
  margin-right: 5px;
}
.container {
  /* max-width: 1100px; */
  background-color: #f8fefa;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 70px 60px;
}
.rest_card {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  flex: 1;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 calc(25% - 20px); /* 25% width for 4 cards per row, minus gap space */
  max-width: calc(25% - 20px);
  /* flex: 1; */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: start;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); */
}
.rest-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
